stages:
  - build

variables:
  # GitLab Registry 設定（根據專案自動組合）
  CI_REGISTRY: gitlab-registry.muki001.com
  CI_REGISTRY_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH
  IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  LATEST_IMAGE: $CI_REGISTRY_IMAGE:latest
  DOCKER_TLS_CERTDIR: ""  # 禁用 TLS，for docker:dind

build_and_push:
  stage: build
  image: docker:24
  tags:
    - docker  # 你的 instance runner tag
  variables:
    DOCKER_HOST: "unix:///var/run/docker.sock"
  services: [] # 不使用 DinD
  rules:
    - if: '$CI_COMMIT_TAG'  # 僅在打 tag 時執行
  before_script:
    - echo "$REGISTRY_PAT" | docker login -u "$REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build -t $IMAGE_NAME -t $LATEST_IMAGE .
    - docker push $IMAGE_NAME
    - docker push $LATEST_IMAGE
